<section class="products-description container mx-auto mx-md-auto mt-xl-5 mt-lg-3 pt-lg-4 pt-md-0  pt-sm-5 pt-4 d-flex
                    justify-content-center align-items-center flex-column flex-wrap w-100">
  <h2 class="products-description__h2 fw-bold fs-2" *ngIf="!searchString">Наши чайные коллекции</h2>
  <h2 class="products-description__h2 fw-bold fs-2" *ngIf="searchString && this.products.length !== 0">Результаты поиска по слову: "{{searchString}}"</h2>
  <h2 class="products-description__h2 fw-bold fs-2" *ngIf="this.products.length === 0 && searchString">Ничего не найдено</h2>
  <div class="product-cards my-4 w-100 row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4 d-flex justify-content-center">
    <product-card *ngFor="let product of products;" [product]="product"></product-card>
  </div>
  <div *ngIf="loading" class="loader-bg">
    <div class="loader"></div>
  </div>
</section>
